@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Baloo+Bhaijaan+2:wght@400..800&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.main {
    background-image: url("bg.jpeg");
    height: 100vh;
    position: relative;
    background-position: center center;
}

.main .box {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.60;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 13%;
    margin: auto;
}

nav .logo {
    position: relative;
    z-index: 10;
    width: 145px;
}

nav button {
    position: relative;
    z-index: 10;
    margin: 6px;
}

.navbtn {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    z-index: 10;
    /* margin: 120px; */
    height: 85%;
    padding: 0px 25px;
}

.info h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 70px;
    text-align: center;
}

.price {
    margin-bottom: 22px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.member {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: white;
}


.separation {
    position: relative;
    top: 15px;
    height: 4px;
    background-color: red;
    border-radius: 100%;
}

.btn {
    color: white;
    border-radius: 4px;
}

.language-btn {
    background-color: rgba(29, 25, 25, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 16px;
    padding: 4px 16px 2px 10px;
}

.signin-btn {
    background-color: rgb(229, 9, 20);
    border: none;
    font-weight: 500;
    font-size: 14px;
    padding: 4px 14px
}

.getstart-btn {
    background-color: rgb(229, 9, 20);
    border: none;
    font-size: 24px;
    width: 21%;
    font-weight: 500;
    padding: 9px 24px;
    margin: 10px 0px;
}

.email {
    width: 37%;
    padding: 15px;
    border-radius: 4px;
    color: white;
    margin-right: 8px;
    background-color: rgba(20, 20, 20, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

}

input::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.mailstart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.trend {
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 50px;
    margin-bottom: 20px;
    padding-left: 100px;
}

.binge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

.movies {
    width: 175px;
    height: 245px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.num1 {
    background-image: url("st.webp");
}

.num2 {
    background-image: url("wwe.webp");
}

.num3 {
    background-image: url("dude.webp");
}

.num4 {
    background-image: url("jllb.webp");
}

.num5 {
    background-image: url("og.webp");
}

.num6 {
    background-image: url("dc.webp");
}

.num7 {
    background-image: url("idli.webp");
}

.num8 {
    background-image: url("kshetra.webp");
}

.num9 {
    background-image: url("bison.webp");
}

.num10 {
    background-image: url("saiyaara.webp");
}



.movies:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.movienumber {
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-weight: 700;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -20px;
    left: -13px;
}

.list1 {
    display: flex;
    list-style: none;
    gap: 20px;
    overflow-y: visible;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    padding: 0 10px;
}

.items1 {
    padding: 15px 10px;
}

.scroll {
    display: flex;
    align-items: center;
    justify-content: end;
    scrollbar-width: none;
    height: 281px;
    width: 70px;
    /* visibility: hidden; */
    background-color: rgb(0, 0, 0);
}

.scrlbtn {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    border: none;
    align-items: center;
    border-radius: 10px;
    width: 25px;
    height: 120px;
    cursor: pointer;
}

.join {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 50px;
    margin-bottom: 20px;
    padding-left: 100px;
}

.reasons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 50px;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.reasons h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    padding: 6px 0;
    line-height: 1.4;
}

.reasons p {
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding: 2px 0;
}

.reasonbox {
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    width: 300px;
    height: 278px;
    padding: 15px;
    border-radius: 12px;
    position: relative;
}

.reasonbox img {
    position: absolute;
    right: 10px;
    bottom: 15px;
}

.faq {

    font-size: 24px;
    font-weight: 500;
    color: white;
    margin: 50px;
    margin-bottom: 20px;
    padding-left: 100px;
}

.faqbox {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding: 24px;
    margin: auto;
    margin-bottom: 8px;
    background: rgb(45, 45, 45);
    color: white;
}

.faqbox:hover {
    transition: 250ms background-color, margin-bottom cubic-bezier(0.4, 0, 0.68, 0.06);
    background: rgb(70, 70, 70);
    cursor: pointer;
}

.faqbox p {
    font-size: 24px;
    font-weight: 400;
}

.mslast {
    width: 75vw;
    margin: auto;
}

.mmbr {
    margin: auto;
    margin: 0 40px;
    margin-top: 70px;
    align-self: center;
}

.email2 {
    width: 37vw;
}

footer {
    width: 78vw;
    margin: auto;
    margin-top: 70px;
}

.call {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 40px;
}

.footeritem {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.footeritem a {
    padding: 8px 10px 8px 0;
    color: rgba(255, 255, 255, 0.7);
}

.footerbtn {
    margin-top: 36px;
}

.last {
    font-size: 14px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 36px;
}

.ending {
    font-size: 13px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 36px;
    margin-bottom: 175px;
}
.ending p{
    display: inline;
}
.ending a{
        color: rgb(68, 142, 244);

}

